{{ content }}

<div>
    <small>You are receiving this email because you subscribed to the {{ mailingList }} mailing list. To unsubscribe from these emails <a href="{{ unsubscribeLink }}">click here</a>.</small>
</div>
